@media only screen and (max-width: 600px) {
    /* For mobile: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(39, 35, 35);
}

.home-header {
    height: 3rem;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-header-wrapper {
    display: flex;
}

.head-title {
    margin-left: 20px;
    font-family: Tahoma, sans-serif;
    color: rgb(243, 243, 243);
}

.icon-header {
    margin: 0 20px 0 10px;
    color: rgb(243, 243, 243);
}

.date-line {
    display: flex;
    justify-content: space-between;
    color: rgb(233, 233, 233);
    margin-top: 20px;
    margin-right: 16px;
}

.blank-left-space {
    display: flex;
    color: rgb(39, 35, 35);
}

.day-input {
    font-family: Tahoma, sans-serif;
    font-size: 6.5px;
    text-align: center;
    width: 40px;
}

.tag-line {
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 5px;
}

.title-left {
    display: flex;
    align-items: center;
}

.tag-title-icon {
    font-size: 10px;
    margin-left: 10px;
}

.tag-title {
    font-size: 10px;
    padding-left: 7px;
}

.icon-right {
    display: flex;
}

.icon-input {
    cursor: pointer;
    margin-right: 40.3px;
    position: relative;
    bottom: 7px;
}

.fa-circle {
    color: rgb(91, 91, 91);
}

.icon-wrapper {
    display: flex;
    align-items: center;
}

.middle-progress {
    position: absolute;
    left: 12px;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4px;
}

.spinner-bar {
    background: rgb(91, 91, 91);
    border-radius: 100%;
    height: 18px;
    width: 18px;
}

.fa-xmark {
    position: absolute;
    left: 0.5px;
    font-size: 14px;
    color: rgb(91, 91, 91);
}

.fa-check {
    visibility: hidden;
    position: absolute;
    font-size: 14px;
}

.fa-minus {
    visibility: hidden;
    position: absolute;
    left: -1px;
    font-size: 14px;
}

.yellow {
    color: khaki;
}

.green {
    color: rgb(63, 243, 156);
}

.blue {
    color: rgb(51, 149, 235);
}

.purple {
    color: rgb(142, 22, 255);
}

.fa-plus {
    cursor: pointer;
}

.modal {
    display: none;
    padding-top: 214px;
    position: fixed;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.modal-content {
    cursor: pointer;
    background-color: #3d3d3d;
    margin: 0 15px 15px 15px;
    padding: 10px 0 8px 15px;
    border-radius: 5px;
    font-family: tahoma, sans-serif;
}

.modal-content p {
    font-size: 10px;
    line-height: 15px;
}

.modal-content h4 {
    margin: 5px 0 5px 0;
}

.board-one_information {
    display: none;
    background-color: #272323;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.board-one_header {
    font-family: tahoma, sans-serif;
    background-color: rgb(10, 10, 10);
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-one-left_header {
    display: flex;
}

.fa-arrow-left {
    cursor: pointer;
}

.board-one-arrow_input {
    margin-left: 25px;
}

.board-one-heading_input {
    margin-left: 25px;
}

.board-one-save_input {
    cursor: pointer;
    padding: 5px 30px 5px 30px;
    margin-right: 25px;
    border: 1px solid white;
    border-radius: 5px;
}

.board-one_content {
    font-size: 10px;
    color: white;
}

.board-one-name_color {
    display: flex;
    margin: 15px 10px 0 10px;
    height: 60px;
}

.board-one_shortnamebox {
    border-radius: 5px;
    border: 1px solid #6f6c6c;
    width: 100%;
}

.board-one_colorbox {
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #6f6c6c;
    padding: 0 15px 0 15px;
}

.board-one-color_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-one-shortname_title-input {
    text-align: center;
    background-color: #272323;
    width: 36.5px;
    position: relative;
    bottom: 6px;
    left: 10px;
}

.board-one-placeholder_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-one-circle_error {
    display: none;
    color: crimson;
    font-size: 15px;
    margin-right: 15px;
    padding-top: 8px;
}

.board-one-box_error {
    display: none;
    float: right;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.fa-caret-up {
    font-size: 12px;
}

.board-one-arrowup_error {
    color: crimson;
    position: relative;
    top: 6.5px;
    left: 78.5px;
}

.board-one-string_error {
    background-color: black;
    border: 1px solid black;
    border-top: 1px solid crimson;
    padding: 10px;
}

.board-one-longname_title-input {
    text-align: center;
    width: 55px;
    background-color: #272323;
    position: relative;
    bottom: 6px;
    left: 10px;
}

.board-one-color_title-input {
    background-color: #272323;
    width: 50px;
    position: relative;
    bottom: 6px;
    left: 0px;
}

.board-one-name_placeholder {
    background-color: #272323;
    border: 1px solid #272323;
    outline: none;
    color: aqua;
    padding: 8px 0 0 10px;
}

.board-one-shortname_placeholder {
    width: 120px;
}

.board-one-longname_placeholder {
    width: 245px;
}

.board-one-color_blockholder {
    background-color: aquamarine;
    margin-top: 3px;
    width: 35px;
    height: 30px;
}

.board-one_fullbox {
    border-radius: 5px;
    border: 1px solid #6f6c6c;
    margin: 15px 10px 0 10px;
    height: 60px;
}

.board-one-total_left-right-input {
    display: flex;
    justify-content: space-between;
    margin: 10px 18px 0 20px;
    font-size: 13px;
}